
    body{
        font-family: 'Roboto Slab', serif;

        font-size: 27px;
        background-image:

   -webkit-radial-gradient(90% 90%, circle, #B6C8A9, transparent),
   -webkit-radial-gradient(80% 50%, circle, #CFFFE5, transparent),
   -webkit-radial-gradient(20% 80%, 40em 40em, #A5D8FF, transparent),
   -webkit-radial-gradient(10% 10%, circle, #629460, transparent),
   linear-gradient(to bottom right, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent),
   linear-gradient(-90deg, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent, #000, transparent);



   background-size: 100vw 110vh;
   background-position: center;
}
    #div1{

        width:65%;
        margin-left: auto;
        margin-right: auto;

        text-align: left;
        Margin-top: 2%;
        background-color: #277b44;
        padding: 5%;
        color:#eeeeee;
        border-radius: 30px;
        background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

    }

    button{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;

        font-weight: 400;
        background-image: linear-gradient(#A5D8FF, #425666);

        font-size: 25px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #1a68a8;
        padding: .375rem;
        border-radius: 5px;
        width: 150px;
        margin-left: 40px;
        margin-right: 10px;
        cursor: pointer;
        box-shadow: 0px 4px 4px #83a26d;
        text-shadow: 1px 1px black;
    }
    button:hover{
        background-image: radial-gradient(#AEDBFF, #526C7F);
        box-shadow: 0px 6px 6px #83a26d;


    }
    button:active{
        background-image: radial-gradient(#94C2E5, #31404C);
        box-shadow: 1px 1px 1px #83a26d;
    }
    img{
        width: 100px;
        position: Absolute;
        top: 1%;
        left: 1%;
        z-index: 1;
    }
    input{
        font-family: 'Roboto Slab', serif;



        font-size: 20px;
        box-shadow: 0px 2px 2px #83a26d;
        background-image: linear-gradient(#fff,#E6ECE1);

    }

    select{
        font-family: 'Roboto Slab', serif;
        background-color: #dee2e6;
        font-size: 20px;
        border-radius: 30px;
    }
    #div3{
        font-weight: bold;
        padding:  0% 5% 5% 5%;
        font-style: italic;
        font-size: 20px;

    }
    textarea{
        color:#F4FFF8;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        background-color: #000F08;
        border-radius: 30px;
    }

    .container{
        display: grid;
        grid-template-columns: 15% 25% 1fr 40% ;
        grid-template-rows: auto;
        grid-row-gap: 1em;
    }
    .grida{
        grid-column: 1/5;
        grid-row: 1;
        background-color: #343a40;
        color:#fff;
        padding: .5rem 1rem;


    }

    .gridb{
        grid-column: 1;
        grid-row: 3;
        text-align: right;
    }
    .gridbb{
        grid-column: 2;
        grid-row: 3;
    }
    .gridc{
        grid-column: 1;
        grid-row: 3;
        text-align: right;
        background: radial-gradient(#1a68a8, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    }
    .gridcb{
        grid-column: 4;
        grid-row: 3;
    }
    .gridd{
        grid-column: 1;
        grid-row: 2;
        text-align: right;
    }
    .griddb{
        grid-column: 2/5;
        grid-row: 2;
    }
    .gride{
        grid-column: 1;
        grid-row: 4;
        text-align: right;
    }
    .grideb{
        grid-column: 2;
        grid-row: 4;
    }
    .gridec{
        grid-column: 3;
        grid-row: 4;
        text-align: right;
    }
    .grided{
        grid-column: 4;
        grid-row: 4;
    }
    .gridf, .gridg, .gridfc, .gridgc{
        text-align: right;
    }
.gridh{
    grid-row: 4 ;
    grid-column: 2;
}
.iframe{
    grid-row: 5;
    grid-column:2;
}
.can{
    grid-column: 3/5;
    grid-row: 3/8;
}
a{
    color: #1C3738;
}
.cal{
    grid-column: 2/3;
    grid-row: 7/10;
}