body:before {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    background-image: url('../Images/pool_table.png')
    }
    body{
        font-family: 'Roboto Slab', serif;
        color: #FDF6FD;
        font-size: 27px;
        content:"";
position:fixed;
left:0;
top:0;
right:0;
bottom:0;
z-index:-1;
    }
    #div1{
        background-color: #50c878;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
        text-align: center;
        Margin-top: 2%;
        background: linear-gradient( #2c8a4b, #194e2b) ;
    }

    button{
        font-family: 'Roboto Slab', serif;
        color: White;
        background-color: #277b43;
        color: white;
        font-size: 20px;
    }
    button:hover{
        background-color: #35a85b;
    }
    button:active{
        background-color: #0f311b;
    }
    img{
        width: 100px;
        position: Absolute;
        top: 1%;
        left: 1%;
        z-index: 1;
    }
    input{
        font-family: 'Roboto Slab', serif;
        color: #010402;
        background-color: #f4fcf7;
        font-size: 20px;
        text-align: center;
    }

    select{
        font-family: 'Roboto Slab', serif;
        background-color: #f4fcf7;

        font-size: 20px;
        color:#010402

    }
    #div3{
        background: linear-gradient( #236c3b, #0f301b) ;
        text-align: center;
        font-weight: bold;
        float: left;
         width: 60%;
         height: 50%;
         margin-left: 5%;
    }
    #div5{


        text-align: center;
        font-weight: bold;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    textarea{
        height: 55%;
        width: 40%;
        color:#010402;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        background-color: #f4fcf7;

    }
    #div6{

        width: 30%;
        height: 50%;
        text-align: center;
        font-weight: bold;
        float: left;
        background: linear-gradient( #236c3b, #0f301b) ;
    }
    select{
        background-color:#f4fcf7;

    }
